@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 20px;
}

.icon-play{
    height: 5em;
    display: none;
}

.icon-play img{
    max-width: 100%;
    max-height: 100%;
}

.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

.top-header {
    text-align: center;
}

.logo-rg_hotels {
    width: 30vw;
    margin: 0.5em;
}

.top-nav {
    width: 100%;
    background-color: rgb(88, 9, 88);
}

.top-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.top-nav li {
    padding: 1em;
}

.top-nav li:hover {
    background-color: #67227e;
}

.top-nav a {
    text-decoration: none;
    color: white;
}

.container{
    text-align: center;
}

.btn{
    border: solid 1px transparent;
    border-radius: 5px;
    background-color: rgb(35, 192, 184);
    text-decoration: none;
    color: white;
    padding: 0.5em 2em;
    transition: 0.5s;
}

.btn:hover{
    background-color: rgb(63, 151, 147);
    border: 1px solid rgb(227, 240, 239);
}

.main-content{
    font-size: 0.8em;
    padding: 1em;
    color: #67227e;
    line-height: 1.5;
    background-color: #f6f6f6;
}

.middle-content{
    padding: 2em;
    background-color: #f6f6f6;
    color: #67227e;
}

.col-1_4{
    margin: 2em 0;
    padding: 2em;
    border: solid 1px #713a84;
}

.middle-content h3{
    font-size: 1.25em;
    text-transform: uppercase;
}

.middle-content span[class^=icon]{
    font-size: 3em;
}

.bottom-content{
    padding: 2em;
}

.bottom-content h3{
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 1.25em;
    color: #67227e;
    font-weight: normal;
}

.bottom-content p{
    line-height: 1.5;
}

.bottom-content article{
    margin-bottom: 3.5em;
}

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.footer{
    background-color: #25303e;
    color: #83969f;
    text-align: center;
    padding-bottom: 2em;
}

.footer div{
    background-color: #303d4c;
    padding: .5em;
}

.footer ul{
    margin: 0;
    padding: 0;
}

.footer li{
    display: inline-block;
    margin: 0 1em;
}

.footer a{
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 48.75em) {
    .top-header{
        box-sizing: border-box;
    }

    .icon-play{
        display: block;
    }

    .logo-rg_hotels{
        width: 30vw;
        float: left;
    }

    .top-nav{
        background-color: transparent;
        float: right;
        width: 65vw;
    }

    .top-nav ul{
        margin: 0 0 20px 0;
        padding: 0;
    }

    .top-nav li{
        margin-top: 50px;
        padding: 0;
        display: inline-block;
    }

    .top-nav li:hover{
        background-color: #713a84;
    }

    .top-nav a{
        padding: 20px;
        color: #713a84;
    }

    .top-nav a:hover{
        background-color: #713a84;
        color: white;
    }

    .main-content{
        background-color: #521a66;
        color: white;
        height: 25em;
        padding-top: 5em;
    }

    .middle-content{
        margin: 0;
    }

    .col-1_4{
        width: 48%;
        margin: 1%;
        float: left;
        border: solid 1px #713a84;
        padding: 2em;
    }

    .bottom-content-article .btn{
        float: right;
        font-weight: bold;
    }
}

@media screen and (min-width: 55em) { /* 1000 / 16(tamanho da fonte do body  */
    .main-content{
        background: #521a66 url(../img/bg_topo_1198x670.jpg);
        background-size: cover;
        height: 35em;
        padding-top: 15em;
    }
}

@media screen and (min-width: 64em) { 
    .main-content{
        background: #521a66 url(../img/bg_topo_1600x1374.jpg);
        background-position: center top;
        background-size: cover;
        height: 50em;
        padding-top: 30em;
    }

    .col-1_4{
        width: 23%;
        margin: 1%;
    }

    .col-1_2{
        width: 47%;
        margin: 1%;
        display: inline-block;
    }
}